.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  flex-direction: column;
  background-color: rgb(27, 28, 28);
  color: aliceblue;
  width: 50%;
}

h1 {
  font-weight: 800;
}
