* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0f172a;
}

html {
  font-family: "inter", sans-serif;
}

button {
  cursor: pointer;
}

body {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.google-header {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon-link {
  cursor: pointer;
  font-size: 1.1rem;
  width: 35px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.icon-link:hover {
  background-color: rgb(235, 235, 235);
}

a {
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-button {
  border: none;
  background: transparent;
}

.img-button img {
  width: 40px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 100%;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

main h1 {
  font-size: 7rem;
}

.input-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  border: 1px solid rgb(235, 235, 235);
  padding: 1rem;
  border-radius: 1rem;
}
.input-bar:hover,
.input-bar:focus-within,
.button-grid button:hover {
  box-shadow: 0 0 4px 1px rgb(237, 237, 237);
}

.input-bar input {
  flex: 1;
  border: none;
  outline: none;
  width: 100%;
}

.input-bar div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.input-icons {
  background-color: transparent;
  border: none;
}

.input-icons:hover {
  opacity: 0.6;
}

.button-grid {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-grid button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  background-color: rgb(247, 247, 247);
  border-radius: 0.25rem;
}

.button-grid button:hover {
  border: 1px solid slategray;
}

.language-link {
  color: blue;
  font-size: 15px;
}

.language-link:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(244, 244, 244);
}

footer > div {
  padding: 1.3rem;
}

.footer-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-links a {
  padding: 10px;
}
