/* .card {
  border: 1px solid hsl(0, 0%, 81%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 10%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
} */

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}

.list-item {
  font-size: 2em;
  text-align: center;
  list-style: none;
  color: hsl(0, 0%, 25%);
  margin: 0;
}

.list-item li:hover {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}
