/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
  border: 3px solid black;
  padding: 30px;
}

button,
input,
textarea,
select {
  font: inherit;
}

main {
  font-family: monospace;
}

/* body {
  font-size: 22px;
  border: 3px solid black;
  padding: 30px;
} 

h1,
h2 {
  color: blue;
}

p {
  color: purple;
}

p {
  color: blue !important;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}

.gray {
  color: gray;
}

#second {
  font-style: italic;
} 
*/

body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: papayawhip;
  color: darkblue;
}

p {
  /* color: rgba(0, 0, 0, 0.5); */
  color: #333;
}
