* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.6rem;
}

.container {
  border: 2px dashed red;
  font-size: 1.5rem;
  margin: 1.5rem;
  padding: 1.5rem;
  outline: 5px solid purple;
  outline-offset: -20px;
}

.circle {
  margin: 3rem auto;
  width: 100px;
  height: 100px;
  background-color: gold;
  border-radius: 50px;
}
